:root{
	--incorect-colour:rgb(120, 124, 126);
	--correct-colour:rgb(106, 170, 100);
	--position-colour:rgb(201, 180, 88);
	--button-bg:rgb(211, 214, 218);
	--bg:rgb(255,255,255);
	--full-box-border: rgb(134, 138, 140);
	--empty-box-border: rgb(210, 214, 218);

	--popup-shadow: 0 4px 23px 0 rgba(0,0,0,0.2);
	--popup-bg:rgb(255,255,255);

	--primary-text:rgb(0,0,0);
	--secondary-text:rgb(255,255,255);

	--game-text: var(--secondary-text);
}
@media (prefers-color-scheme: dark){
	:root[theme=default]{
		--incorect-colour:rgb(58, 58, 60);
		--correct-colour:rgb(83, 141, 78);
		--position-colour:rgb(181, 159, 59);
		--button-bg:rgb(129, 131, 132);
		--bg:rgb(18, 18, 19);
		--full-box-border: rgb(86, 87, 88);
		--empty-box-border: rgb(58, 58, 60);
		
		--popup-shadow: 0 4px 23px 0 rgba(255, 255, 255, 0.2);
		--popup-bg:rgb(18, 18, 19);
		
		--secondary-text:rgb(0,0,0);
		--primary-text:rgb(255,255,255);
		
		--game-text: var(--primary-text);
	}
}
:root[theme=light]{
	--incorect-colour:rgb(120, 124, 126);
	--correct-colour:rgb(106, 170, 100);
	--position-colour:rgb(201, 180, 88);
	--button-bg:rgb(211, 214, 218);
	--bg:rgb(255,255,255);
	--full-box-border: rgb(134, 138, 140);
	--empty-box-border: rgb(210, 214, 218);

	--popup-shadow: 0 4px 23px 0 rgba(0,0,0,0.2);
	--popup-bg:rgb(255,255,255);

	--primary-text:rgb(0,0,0);
	--secondary-text:rgb(255,255,255);

	--game-text: var(--secondary-text);
}
:root[theme=dark]{
	--incorect-colour:rgb(58, 58, 60);
	--correct-colour:rgb(83, 141, 78);
	--position-colour:rgb(181, 159, 59);
	--button-bg:rgb(129, 131, 132);
	--bg:rgb(18, 18, 19);
	--full-box-border: rgb(86, 87, 88);
	--empty-box-border: rgb(58, 58, 60);
	
	--popup-shadow: 0 4px 23px 0 rgba(255, 255, 255, 0.2);
	--popup-bg:rgb(18, 18, 19);
	
	--secondary-text:rgb(0,0,0);
	--primary-text:rgb(255,255,255);
	
	--game-text: var(--primary-text);
}
body{
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	top: 0;
	position:absolute;
	background-color: var(--bg);
	font-family: sans-serif;
}
.main{
	display: flex;
	flex-direction: column;
	max-width: 32rem;
	margin: auto;
	--top-margin: 40px;
	margin-top: var(--top-margin);
	height: calc(100vh - var(--top-margin));
}
.emoji{
	display: inline-block;
	height: 1em;
}
.box{
	/* width: 100%;
	height: 100%; */
	display: flex;
	border-radius: 0.25rem;
	border: 2px solid #e5e7eb;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 2em;
}
.box.greyed-out{
	background-color: #e5e7eb;
}
.box.greyed-out>*{
	display: none;
}
.guess{
	display: grid;
	grid-template-columns: 3fr 2fr 1fr 1fr;
	gap: 0.25em;
	margin-top: 0.25em;
	min-height: 2em;
}
.guess>.box[context="loading bar"]{
	display: grid;
	grid-column:1/4;
	grid-template-columns: repeat(5,1fr);
	display: none;
}
.guess>.box[context="loading bar"]>span{
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100%;
	size: 1.25em;
}
.guess>.box[context="guessed country"],
.guess>.box[context="distance"],
.guess>.box[context="direction"]{
	/* display: none; */
}

.error_list{
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	
	flex-direction: column;
}
.error{
	display:block;
	background-color: var(--primary-text);
	color: var(--secondary-text);
	border-radius: 5px;
	padding: 1em;
	animation: var(--hide_length) linear forwards hide;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: fit-content;
}
@keyframes hide{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	90%{
		opacity: 0.05
	}
	100%{
		opacity: 0;
	}
}


.popup{
	font-family: sans-serif;
	/* display: block; */
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) translateY(50vh);
	position: fixed;
	background-color: var(--popup-bg);
	border-radius: 10px;
	box-shadow:  0 0 0 max(100vw,200vh) rgba(255, 255, 255, 0.5), var(--popup-shadow);
	text-align: center;
	padding: 1em;
	color: var(--primary-text);
}
.popup-rise{
	animation: rise 0.5s forwards;
	display: block;
}
@keyframes rise {
	0%{
		transform: translate(-50%,-50%) translateY(100vh);
	}
	100%{
		transform: translate(-50%,-50%);
	}
}

.popup-sink{
	animation: sink 0.5s forwards;
	display: block;
}
@keyframes sink {
	0%{
		transform: translate(-50%,-50%);
	}
	100%{
		transform: translate(-50%,-50%) translateY(100vh);
		display: none;
	}
}
.popup button{
	background-color: var(--button-bg);
	padding: 1em;
	border: none;
	border-radius: 5px;
}
.header{
	position: absolute;
	top: 0;
	width: 100vw;
	display: flex;
}
.menu_button{
	position: relative;
	border: none;
	padding: 0.5em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: block;
	margin-right: 0;
	margin-left: 0.2em;
}
.menu_button:first-of-type{
	margin-left: auto;
}
.menu_button:last-of-type{
	border-bottom-right-radius: 0;
}
.title{
	position: relative;
	margin: 0;
	margin-left: 50vw;
	width: max-content;
	transform: translateX(-50%);
	display: block;
	font-size: 2em;
}